= rcell(RailsAdmin::HistoryCell, @abstract_model).call(:query_form) do
  .well
    .input-group
      = rcell(RailsAdmin::List::QueryCell)[:search_input]
      %span.input-group-btn
        = rcell(RailsAdmin::List::QueryCell)[:submit_button]

%table#history.table.table-striped.table-condensed
  %thead
    %tr
      = rcell(RailsAdmin::HistoryCell, @abstract_model)[:thead]
  %tbody
    %tr
      = rcell(RailsAdmin::HistoryCell, @abstract_model)[:tbody, @history]

= rcell(RailsAdmin::PaginationCell, @abstract_model)[:show, @history]

