- content_for :contextual_tabs do
  = rcell(RailsAdmin::Index::BulkCell, @abstract_model)[:dropdown]
  = rcell(RailsAdmin::Index::FiltersCell, @abstract_model)[:dropdown]

:javascript
  #{rcell(RailsAdmin::Index::FiltersCell, @abstract_model)[:js]}

%style
  = rcell(RailsAdmin::Index::TableCell, @abstract_model)[:styles]

#list
  = rcell(RailsAdmin::IndexCell, @abstract_model).call(:query_form) do
    .well
      = rcell(RailsAdmin::Index::FiltersCell)[:placeholder]
      .input-group
        = rcell(RailsAdmin::List::QueryCell)[:search_input]
        %span.input-group-btn
          = rcell(RailsAdmin::List::QueryCell)[:submit_button]
          = rcell(RailsAdmin::Index::FiltersCell)[:reset_button]

    = rcell(RailsAdmin::IndexCell, @abstract_model)[:export_button]

  = rcell(RailsAdmin::Index::ScopesCell, @abstract_model)[:show]

  = rcell(RailsAdmin::Index::BulkCell, @abstract_model).call(:form) do
    = rcell(RailsAdmin::IndexCell, @abstract_model)[:description]

    %table.table.table-condensed.table-striped
      %thead
        = rcell(RailsAdmin::Index::TableCell, @abstract_model)[:thead]
      %tbody
        = rcell(RailsAdmin::Index::TableCell, @abstract_model)[:tbody, @objects]

    = rcell(RailsAdmin::PaginationCell, @abstract_model)[:show, @objects]
