- content_for :contextual_tabs do
  = rcell(RailsAdmin::Index::FiltersCell, @abstract_model)[:bulk_menu]
  = rcell(RailsAdmin::Index::FiltersCell, @abstract_model)[:filters]

:javascript
  #{rcell(RailsAdmin::Index::FiltersCell, @abstract_model)[:filters_js]}

%style
  = rcell(RailsAdmin::Index::TableCell, @abstract_model)[:styles]

#list
  = rcell(RailsAdmin::Index::FiltersCell, @abstract_model)[:show]
  = rcell(RailsAdmin::Index::ScopesCell, @abstract_model)[:show]

  - bulk_path = bulk_action_path(model_name: @abstract_model.to_param)

  = form_tag bulk_path, method: :post, id: "bulk_form", class: "form" do

    = hidden_field_tag :bulk_action
    = rcell(RailsAdmin::IndexCell, @abstract_model)[:description]

    %table.table.table-condensed.table-striped
      %thead
        = rcell(RailsAdmin::Index::TableCell, @abstract_model)[:thead]
      %tbody
        = rcell(RailsAdmin::Index::TableCell, @abstract_model)[:tbody, @objects]

    = rcell(RailsAdmin::Index::PaginationCell, @abstract_model)[:show, @objects]
    - if @model_config.list.limited_pagination
      .row
        .col-md-6= paginate(@objects, theme: 'ra-twitter-bootstrap/without_count', total_pages: Float::INFINITY, remote: true)

    - elsif @objects.respond_to?(:total_count)
      - total_count = @objects.total_count.to_i
      .row
        .col-md-6= paginate(@objects, theme: 'ra-twitter-bootstrap', remote: true)
      .row
        .col-md-6= link_to(t("admin.misc.show_all"), index_path(params.merge(all: true)), class: "show-all btn btn-default clearfix pjax") unless total_count > 100 || total_count <= @objects.to_a.size
      .clearfix.total-count= "#{total_count} #{@model_config.pluralize(total_count).downcase}"

    - else
      .clearfix.total-count= "#{@objects.size} #{@model_config.pluralize(@objects.size).downcase}"
